---
layout: ""
page_title: "Provider: Splight"
description: |-
  The Splight provider enables interaction with the Splight API, allowing you to manage 
  various resources.
---

# Splight Provider

The Splight provider allows you to interact with resources supported by Splight.
Before using the provider, you must configure it with the appropriate credentials,
or it will default to using the configuration of the active workspace from the Splight CLI.

## Getting Started

Visit [Splight](https://splight-ai.com) to get started. After setting up, you can use Terraform to manage Splight resources such as Assets, Dashboards, and Components directly through code.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
