---
layout: ""
page_title: "Provider: Splight"
description: |-
  The Splight provider provides resources to interact with the Splight API.
---

# Splight Provider

The Splight provider is used to interact with resources supported by
Splight. The provider needs to be configured with the proper credentials
before it can be used or by default it uses the system configuration.

## Getting Started

Try on [https://splight-ai.com](https://splight-ai.com) and then
you can setup Terraform and learn to manage Splight resources such
as Assets, Dashboards or Components directly by code

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}